<h1>Create or Upload Your Media File</h1>


<div class = "well">
	<%= form_for @mediafile, url: {action: "create"} do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :description %>
		<%= f.text_area :description %>
		<%= f.label :attachment %>
		<%= f.file_field :attachment %>
		<%= f.submit "Create Media", class: "btn btn-primary" %>
	<% end %>
</div>
